.page {
    width: 100vw;
    height: 100vh;
  }
  
  .Icon {
      background-image: url(../../images/React-icon.png);
      width: 100vw;
      height: 300px;
      background-size: 150px;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      justify-content: center;    
      align-items: center;
      animation-name: icon-animation;
      animation: icon-animation 150s linear infinite normal;
  }
  
  @keyframes icon-animation {
      from {
        transform: rotate(-360deg);
      }
    
      to {
        transform: rotate(360deg);
      }
    }
    
    .btn2 {
        width: 140px;
        height: 50px;
        border: 2px solid #61dbfb;
        background-color: black;
        border-radius: 10px;
        color: #61dbfb;
        font-size: 20px;
        font-weight: bold;
        transition: 0.8s all;
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        margin-right: 25px;
        left: 60px;
        bottom: 80px;
    
      }
    
      .btn2:hover {
        background-color: #61dbfb;
        cursor: pointer;
        color: black;
      }
    
      .btn2:active {
        transform: scale(0.8);
      }